# OS / editor
.DS_Store
.idea/
.vscode/
*.swp

# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
out/
.next/
.turbo/
.cache/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
